# Core
pandas
numpy<2.0
scikit-learn
scipy

# Visualizations
matplotlib
seaborn
plotly

# NLP
textblob
vaderSentiment

# Recommender
scikit-surprise

# Streamlit
streamlit

# Optional Utilities
jupyterlab
notebook
