# Core
pandas
numpy<2.0
scikit-learn
scipy

# Visualizations
matplotlib
seaborn
plotly

# NLP
textblob
vaderSentiment

# Recommender
lightfm==1.17

# Streamlit
streamlit

# Optional Utilities
jupyterlab
notebook
